<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
	<listeners>
		<listener class-name="AppiumTests.extentReport.TestListener" />
	</listeners>

	<test name="Tests" thread-count="1" preserve-order="true" parallel="false">
		<parameter name="DeviceName" value="TestEmulator1" />
		<classes>
			<class
				name="AppiumTests.GeneralStore.test.GeneralStoreBasicTest2" />
			<class
				name="AppiumTests.GeneralStore.test.GeneralStoreBasicTest" />
		</classes>
	</test>

	<test name="Test1" thread-count="1" preserve-order="true" parallel="false">
		<parameter name="DeviceName" value="TestEmulator2" />
		<classes>
			<class
				name="AppiumTests.GeneralStore.test.GeneralStoreBasicTest2" />
			<class
				name="AppiumTests.GeneralStore.test.GeneralStoreBasicTest" />
		</classes>
	</test>
</suite> 
